svg text::selection { background: none; }
svg * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.blue {
    border-color: blue;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 4px;
    height: 4px;
    border: 1px solid #bbb;
    background-color: #ddd;
}